.avatar {
    vertical-align: middle;
    width: 100px;
    border-radius: 50%;
}
input[type=submit] {
    font-weight: 700;
    letter-spacing: 0.1rem;
}
input[type=text]:read-only, input[type=text]:read-only:focus {
    background-color: #eee;
    cursor: not-allowed;
}
#hp-player1, #hp-player2 {
    transition: width 500ms ease-in-out;
}